:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --celeste_oscuro: #339CFF;
    --celeste_claro: #0EA7E5;
    --amarillo_claro: #F7FF00;
    --gris: #757575;
}

html{
    font-size: 62.5%;
   
}

body{
    font-size: 16px;
     font-family: 'Krub', sans-serif;  
}

.titulo{
    text-align:center; 
    font-size: 3.8rem; 
}

.Subtitulo{
    text-align:center;  
    font-size: 2rem;  
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--celeste_oscuro);
    
}

.navegacion-principal {
  
    display: flex;
    justify-content:space-between;
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;  
    padding:1rem;
}

.navegacion-principal a:hover{
   background-color: var(--amarillo_claro);
   color: var(--oscuro);
}

